@import 'lib/vars';
@import 'lib/mixins';
@include normalize();
@import 'lib/container';
@import 'lib/subjects';
@import 'lib/main-header';
@import 'lib/tabnav';
@import 'lib/navselect';
@import 'lib/map';
@import 'lib/table';
@import 'lib/search';

h1 {
  margin: 0;
  line-height: 1;
  font-size: 16px;
}
